Repository daishiman/DigeClip, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, feature, documentation, dependencies, configuration, tests, performance, accessibility

fix: Supabaseデプロイ時のIPv6接続問題を解決
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: psqlコマンドから無効な-4オプションを削除
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: 開発環境と本番環境のSupabase設定分離対応
  .github/workflows/deploy.yml
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: SupabaseデプロイワークフローのIPv4接続問題を修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: SupabaseデプロイワークフローのIPv4接続問題を修正
  .github/workflows/deploy.yml
Labels: configuration

readmi修正SD
  README.md
Labels: documentation

fix: Supabaseデータベース接続の信頼性向上とフォールバック戦略の実装
  .github/workflows/supabase-deploy.yml
Labels: configuration

Supabase デプロイワークフローを CLI を使用する方式に改善
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabase CLIのインストール方法を修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabase CLIを使用したデータベースデプロイワークフローの改善
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabaseデプロイワークフローの改善 - タイムアウト���������������������������������������������������������������������������������
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: GitHub Actionsでpsqlコマンドが見つからない問題を修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: GitHubアクション用Supabaseデプロイワークフローの修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: GitHub ActionsのSupabaseデプロイワークフローをIPv4接続に修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabaseデプロイワークフローの修正 - Ubuntu 24.04������������������������������
  .github/workflows/supabase-deploy.yml
Labels: configuration

preview-deploy.ymal削除
  .github/workflows/preview-deploy.yml
Labels: configuration

chore: .specstory���������������������gitignore���������
  .gitignore
Labels: none

feat: ngrok開発環境設定のディレクトリ構造と文書化を整理
  .cursor/available_instructions.txt
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_ngrok_development.mdc
  .cursor/rules/000_common_requirements.mdc
  README.md
  build-mdc.ts
  digeclip/README.md
  package.json
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/5_development_environment/1_ngrok_setup.md
  rules/0_common/ngrok_development.md
  scripts/start-ngrok.sh
Labels: documentation, dependencies

.github/labeler.yml:

frontend:
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'pages/**/*'
  - 'components/**/*'
  - 'app/**/*.tsx'
  - 'app/**/*.jsx'

backend:
  - 'src/lib/services/**/*'
  - 'src/lib/db/**/*'
  - 'src/lib/api/**/*'
  - 'src/lib/middleware/**/*'
  - 'app/api/**/*'

ui:
  - 'src/components/ui/**/*'
  - 'app/**/*.css'
  - 'app/**/*.scss'
  - 'styles/**/*'

feature:
  - 'src/components/features/**/*'
  - 'app/**/page.tsx'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'next.config.js'

configuration:
  - '.github/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'
  - '.eslintrc*'
  - '.prettierrc*'

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'cypress/**/*'
  - 'jest.config.js'

performance:
  - 'src/hooks/use*'
  - 'src/lib/utils/performance/**/*'

accessibility:
  - 'src/components/ui/**/*.tsx'
  - 'src/components/ui/**/*.jsx'
