Repository daishiman/DigeClip, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, feature, documentation, dependencies, configuration, tests, performance, accessibility

.github/labeler.yml:

frontend:
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'pages/**/*'
  - 'components/**/*'
  - 'app/**/*.tsx'
  - 'app/**/*.jsx'

backend:
  - 'src/lib/services/**/*'
  - 'src/lib/db/**/*'
  - 'src/lib/api/**/*'
  - 'src/lib/middleware/**/*'
  - 'app/api/**/*'

ui:
  - 'src/components/ui/**/*'
  - 'app/**/*.css'
  - 'app/**/*.scss'
  - 'styles/**/*'

feature:
  - 'src/components/features/**/*'
  - 'app/**/page.tsx'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'next.config.js'

configuration:
  - '.github/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'
  - '.eslintrc*'
  - '.prettierrc*'

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'cypress/**/*'
  - 'jest.config.js'

performance:
  - 'src/hooks/use*'
  - 'src/lib/utils/performance/**/*'

accessibility:
  - 'src/components/ui/**/*.tsx'
  - 'src/components/ui/**/*.jsx'

fix: App RouterとPages Routerのハイブリッド構成を最適化
  digeclip/next.config.js
  digeclip/pages/_app.tsx
  digeclip/pages/_document.tsx
  digeclip/src/app/layout.tsx
  digeclip/src/app/not-found.tsx.bak
Labels: none

fix: Pages Routerでカスタムエラーページを実装
  digeclip/pages/404.tsx
  digeclip/pages/500.tsx
  digeclip/pages/_error.tsx
  digeclip/src/app/global-error.tsx.bak
Labels: none

fix: App Router/Pages Routerハイブリッド構成の最適化とテスト修正
  digeclip/src/__tests__/unit/app/not-found.test.tsx
  digeclip/src/__tests__/unit/pages/404.test.tsx
  digeclip/src/app/not-found.tsx
Labels: tests

fix: ���������������������������������������������
  digeclip/src/__tests__/unit/lib/supabase.test.ts
Labels: tests

fix: テストファイルとHuskyの設定を修正
  .husky/pre-commit
  digeclip/next.config.js
  digeclip/pages/500.tsx
  digeclip/src/__tests__/unit/pages/404.test.tsx
  digeclip/src/__tests__/unit/pages/500.test.tsx
  digeclip/tsconfig.jest.json
  digeclip/tsconfig.json
Labels: tests

fix: ESLint警告を解消 - TypeScriptの未使用引数���_������������������������������ - ��������������������������������������������������� - ������������API������������������������������
  digeclip/next.config.js
  digeclip/next.config.ts.bak
  digeclip/package.json
  digeclip/pages/404.tsx
  digeclip/pages/500.tsx
  digeclip/src/__tests__/unit/lib/supabase.test.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/db/repositories/base.repository.ts
  digeclip/src/lib/db/repositories/user.repository.ts
Labels: tests

fix: 404ページの重複によるビルドエラーを解決
  digeclip/src/__tests__/unit/pages/404.test.tsx
Labels: tests

fix: エラーページの実装を修正
  digeclip/pages/404.tsx
  digeclip/pages/500.tsx
Labels: none

fix: 404ページの重複によるビルドエラーを解決
  digeclip/pages/404.tsx
Labels: none

fix: 500������������������������������������������������������
  digeclip/pages/500.tsx
  digeclip/src/__tests__/unit/pages/500.test.tsx
Labels: tests

fix: 環境変数の取り扱い改善によりビルドエラーを解決
  digeclip/src/app/page.tsx
  digeclip/src/lib/constants.ts
  digeclip/src/lib/openai.ts
  digeclip/src/lib/supabase.ts
Labels: none

fix: next.config.js������NODE_ENV���������������
  digeclip/next.config.js
Labels: none

fix: 環境変数の取り扱い改善によりビルドエラーを解決
  digeclip/src/lib/openai.ts
Labels: none

fix: improve not-found page to avoid build errors
  digeclip/next.config.js
  digeclip/src/app/not-found.tsx
  digeclip/src/components/error/NotFoundContent.tsx
Labels: none

fix: not-found client component comment
  digeclip/src/app/not-found.tsx
Labels: none

fix: ���������������������������������������������������������������������������������������������������������������������
  digeclip/src/lib/constants.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/openai.ts
  digeclip/src/lib/supabase.ts
Labels: none

fix: 404���������������������������������������������������������������������������������������������
  digeclip/src/app/not-found.tsx
Labels: none

fix: ������������������������������������������������������������������������������������������
  digeclip/src/app/page.tsx
Labels: none

fix: ���������������������������������not-found���������������������������������������������������
  digeclip/next.config.js
  digeclip/src/app/not-found.tsx
Labels: none

fix: OpenAI���������������������������������
  digeclip/src/lib/openai.ts
Labels: none

fix: ������������������������������������������������������������������������������������������������������������������������������
  digeclip/next.config.js
  digeclip/src/app/layout.tsx
Labels: none

fix: Cloudflare Pages環境でのprocess.env参照エラーを修正
  digeclip/next.config.js
  digeclip/src/lib/constants.ts
  digeclip/src/lib/supabase.ts
Labels: none

fix: ���������������������������������������������(force-dynamic������������out���������������������������)
  digeclip/next.config.js
  digeclip/src/app/layout.tsx
  digeclip/src/app/not-found.tsx
  digeclip/src/app/page.tsx
Labels: none

fix: Cloudflare Pages向けにprocess.env参照時の安全性を改善
  digeclip/next.config.js
Labels: none

fix: rootレイアウトに必須のHTMLタグを追加
  .node-version
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/src/app/globals.css
  digeclip/src/app/layout.tsx
  digeclip/tailwind.config.mjs
Labels: none

fix: Cloudflare Pages������������������������������������
  digeclip/next.config.js
Labels: none

fix: process.env参照時のnullチェックを追加しCloudflareビルドエラーを解決
  digeclip/next.config.js
  digeclip/src/lib/constants.ts
  digeclip/src/lib/supabase.ts
  digeclip/tailwind.config.mjs
Labels: none

docs: Cloudflare Pages設定手順書を追加
  digeclip/docs/cloudflare-pages-setup.md
Labels: documentation

fix: GitHub Actionsワークフローを改善
  .github/workflows/preview-deploy.yml
Labels: configuration

feat: Cloudflare Pages専用のビルドスクリプトを追加
  digeclip/package.json
Labels: none

feat: Cloudflare Pages向けの基本設定ファイルを追加
  digeclip/public/_redirects
  digeclip/wrangler.toml
Labels: none

fix: OpenAIテスト環境でのエラーハンドリングを修正
  digeclip/src/lib/openai.ts
Labels: none

fix: 404ページを静的生成に対応するよう修正
  digeclip/src/app/not-found.tsx
Labels: none

fix: OpenAIクライアント初期化時の環境変数アクセスを安全化
  digeclip/src/lib/openai.ts
Labels: none

feat: 静的な404エラーページを追加
  digeclip/public/404.html
Labels: none

fix: Next.js設定を強化してCloudflare Pages環境に最適化
  digeclip/next.config.js
Labels: none

chore: package-lock.jsonを更新
  digeclip/package-lock.json
Labels: none

docs(data): 環境別データ管理方針の更新
  rules/2_backend_functional_requirements/1_data/3_Data_Lifecycle.md
Labels: documentation

docs(common): Supabase環境分離の説明を技術スタックドキュメントに追加
  rules/0_common/0_common_tech_stack.md
Labels: documentation

fix: Cloudflare Pages配信の構成修正とビルドプロセスの最適化
  .github/workflows/preview-deploy.yml
  digeclip/public/404.html
  digeclip/wrangler.toml
Labels: configuration
