Repository daishiman/DigeClip, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, feature, documentation, dependencies, configuration, tests, performance, accessibility

.github/labeler.yml:

frontend:
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'pages/**/*'
  - 'components/**/*'
  - 'app/**/*.tsx'
  - 'app/**/*.jsx'

backend:
  - 'src/lib/services/**/*'
  - 'src/lib/db/**/*'
  - 'src/lib/api/**/*'
  - 'src/lib/middleware/**/*'
  - 'app/api/**/*'

ui:
  - 'src/components/ui/**/*'
  - 'app/**/*.css'
  - 'app/**/*.scss'
  - 'styles/**/*'

feature:
  - 'src/components/features/**/*'
  - 'app/**/page.tsx'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'next.config.js'

configuration:
  - '.github/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'
  - '.eslintrc*'
  - '.prettierrc*'

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'cypress/**/*'
  - 'jest.config.js'

performance:
  - 'src/hooks/use*'
  - 'src/lib/utils/performance/**/*'

accessibility:
  - 'src/components/ui/**/*.tsx'
  - 'src/components/ui/**/*.jsx'

docs(requirements): 環境設定とマイグレーション管理の説明を改善
  rules/0_common/1_common_requirements/1_technology_stack.md
Labels: documentation

docs(database): データベース環境管理セクションを最適化
  rules/2_backend_functional_requirements/1_data/1_Database_Selection.md
Labels: documentation

docs(infra): データベース環境分離の詳細情報を追加
  rules/4_nonFunctional_requirements/1_Infrastructure.md
Labels: documentation

fix: コード品質とTypeScriptエラーの修正 & シークレットファイルを削除
  .gitignore
  digeclip/public/404.html
  digeclip/src/lib/api/client.ts
Labels: none

chore: 環境変数ファイルを.gitignoreに追加
  .gitignore
Labels: none

docs(rules): Supabase環境分離に関する包括的なドキュメント更新
  .cursor/rules/000_common_requirements.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/001_business_requirements.mdc
  .cursor/rules/002_backend_requirements.mdc
  .cursor/rules/004_nonFunctional_requirements.mdc
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/pr-review.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
  digeclip/.gitignore
  digeclip/README.md
  digeclip/docs/environment-setup.md
  digeclip/next.config.js
  digeclip/package.json
  digeclip/prisma/seeds/dev_seed.sql
  digeclip/prisma/seeds/prod_seed.sql
  digeclip/public/404.html
  digeclip/public/_redirects
  digeclip/scripts/environment-switch.js
  digeclip/src/app/not-found.tsx
  digeclip/src/lib/constants.ts
  digeclip/src/lib/supabase.ts
  digeclip/wrangler.toml
  rules/0_common/0_common_requirements.md
  rules/1_business_requirements/1_Project_Outline.md
Labels: documentation, configuration

fix: CIエラーの修正 - tailwind.config.mjs���require���ES��������������������������������������� - next.config.js������exportPathMap���������
  digeclip/next.config.js
  digeclip/tailwind.config.mjs
Labels: none

fix: next.config.js������������������not-found���error���������������������������������������������������������������������������������
  digeclip/next.config.js
Labels: none

fix: not-found���������������runtime������������������������������������������������������������������������������
  digeclip/src/app/not-found.tsx
Labels: none

fix: build:cf������������������Next.js 15.2.2���������������������������
  digeclip/package.json
Labels: none

fix: build:cf������������������Next.js 15.2.2���������������������������
  digeclip/package.json
Labels: none

fix: Cloudflare Pagesのプロジェクト名を修正
  .github/workflows/preview-deploy.yml
Labels: configuration

feat: Supabase環境を分離し、開発環境と本番環境を安全に切���������������������������
  .github/workflows/deploy-production.yml
  digeclip/src/lib/constants.ts
  digeclip/src/lib/env.ts
  digeclip/src/lib/supabase.ts
  package.json
  scripts/environment-switch.js
Labels: dependencies, configuration

fix: APIクライアントの定数参照を修正(API_BASE_URL���API_URL)
  digeclip/src/lib/api/client.ts
Labels: none

fix:.gitignore追加
  .gitignore
Labels: none

fix: supabase.tsのfetchData関数をテストに合わ������������
  digeclip/src/lib/supabase.ts
Labels: none

ci: GitHub Actions全体最適化とドキュメント更新
  .github/workflows/ci.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-review.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/supabase-deploy.yml
  .github/workflows/tests.yml
  .husky/pre-add
  .husky/pre-commit
  README.md
  digeclip/README.md
  digeclip/package.json
  digeclip/seeds/dev_schema.sql
  digeclip/seeds/dev_seed.sql
  digeclip/src/__tests__/unit/lib/supabase.test.ts
  digeclip/src/lib/supabase.ts
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/5_development_process/4_Automation.md
Labels: documentation, configuration, tests

readme修正
  digeclip/README.md
Labels: documentation

統合CIワークフローファイル(ci.yml)を削除
  .github/workflows/ci.yml
Labels: configuration

fix: ESLintエラーの修正
  digeclip/src/__tests__/unit/lib/supabase.test.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/db/repositories/base.repository.ts
  digeclip/src/lib/db/repositories/user.repository.ts
  digeclip/tsconfig.json
Labels: tests

プレビューデプロイのワークフロー削除
  .github/workflows/preview-deploy.yml
Labels: configuration

readme修正
  README.md
  digeclip/README.md
Labels: documentation

rulesを修正
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_requirements.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .cursor/rules/005_development_process.mdc
  .cursor/rules/006_risk_and_release_plan.mdc
  rules/5_development_process/4_Automation.md
  rules/6_risk_and_release_plan/2_Release_Schedule.md
Labels: documentation

fix: Htmlコンポーネントの不適切な使用を修正し404ページを実装
  digeclip/src/app/not-found.tsx
  digeclip/src/components/error/NotFoundContent.tsx
Labels: none

fix: Husky v10.0.0���������������������������������
  .husky/pre-add
  .husky/pre-commit
  .husky/pre-push
  digeclip/.husky/pre-push
Labels: none

������������������������������������
  rules/test/empty.md
  rules/test/test.md
  test-hooks/test.js
Labels: documentation

feat: Huskyフックファイルの修正とv10.0.0準備
  rules/test/really_empty.md
Labels: documentation

fix: デプロイワークフローとNext.js設定の改善
  .github/workflows/deploy.yml
  digeclip/next.config.js
  digeclip/next.config.ts
  digeclip/package.json
  digeclip/pages/_app.tsx
  digeclip/pages/_document.tsx
  digeclip/pages/_error.tsx
  digeclip/scripts/prepare-config.ts
Labels: configuration

fix: リントエラーと型エラーの修正
  digeclip/next.config.ts
  digeclip/pages/_app.tsx
  digeclip/pages/_document.tsx
  digeclip/pages/_error.tsx
Labels: none

fix: ビルドプロセスの修正
  digeclip/package.json
  digeclip/scripts/prepare-config.ts
Labels: none

修正: Cloudflare Pagesの開発環境プ������������������������������dev-digeclip ��� digeclip-dev���
  .github/workflows/deploy.yml
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: CI/CDワークフロー修正（Cloudflare Pagesとsupabaseデプロイ）
  .github/workflows/deploy.yml
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabaseデプロイワークフローのコマンドフラグを修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: 環境変数ファイルとSQLファイルの存在確認を追加
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: GitHub Secrets���������������������������������������������������
  .github/workflows/supabase-deploy.yml
Labels: configuration

Fix Supabase deploy workflow to use --db-url flag instead of --project-ref
  .github/workflows/supabase-deploy.yml
Labels: configuration

Supabase���������������������������������������: --project-ref������������--db-url���������������DB���������������������������
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabase CLIコマンドの構文エラーを修正、DBパスワードをGitHubシークレットから取得するよう変更
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabaseデプロイワークフローのコマンドエラーを修正
  .github/workflows/supabase-deploy.yml
Labels: configuration

fix: Supabaseデプロイワークフローでの接続問題を修正
  .github/workflows/supabase-deploy.yml
Labels: configuration
