Repository daishiman/DigeClip, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, feature, documentation, dependencies, configuration, tests, performance, accessibility

.github/labeler.yml:

frontend:
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'pages/**/*'
  - 'components/**/*'
  - 'app/**/*.tsx'
  - 'app/**/*.jsx'

backend:
  - 'src/lib/services/**/*'
  - 'src/lib/db/**/*'
  - 'src/lib/api/**/*'
  - 'src/lib/middleware/**/*'
  - 'app/api/**/*'

ui:
  - 'src/components/ui/**/*'
  - 'app/**/*.css'
  - 'app/**/*.scss'
  - 'styles/**/*'

feature:
  - 'src/components/features/**/*'
  - 'app/**/page.tsx'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'next.config.js'

configuration:
  - '.github/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'
  - '.eslintrc*'
  - '.prettierrc*'

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'cypress/**/*'
  - 'jest.config.js'

performance:
  - 'src/hooks/use*'
  - 'src/lib/utils/performance/**/*'

accessibility:
  - 'src/components/ui/**/*.tsx'
  - 'src/components/ui/**/*.jsx'

chore: Node.js 20対応とESLint/Prettier設定の強化
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  digeclip/.husky/pre-commit
  digeclip/.lintstagedrc.js
  digeclip/.prettierignore
  digeclip/.prettierrc.json
  digeclip/eslint.config.mjs
  digeclip/package-lock.json
  digeclip/package.json
Labels: configuration

chore: Node.js 20対応とESLint/Prettier設定の強化
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  digeclip/.husky/pre-commit
  digeclip/.lintstagedrc.js
  digeclip/.prettierignore
  digeclip/.prettierrc.json
  digeclip/eslint.config.mjs
  digeclip/package-lock.json
  digeclip/package.json
Labels: configuration

.githubの修正
  .github/workflows/auto-comment.yml
  .github/workflows/auto-label.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/pr-description-checker.yml
  .github/workflows/test.yml
Labels: configuration

.githubの修正
  .github/workflows/auto-comment.yml
  .github/workflows/auto-label.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/pr-description-checker.yml
  .github/workflows/test.yml
Labels: configuration

feat: テスト環境の構築とテストカバレッジ目標の設定
  .cursor/rules/backend.mdc
  .cursor/rules/frontend.mdc
  digeclip/.babelrc
  digeclip/README.md
  digeclip/backend.mdc
  digeclip/frontend.mdc
  digeclip/jest.config.js
  digeclip/jest.setup.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/src/lib/api/README.md
  digeclip/src/lib/api/__tests__/auth.test.ts
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/__tests__/hooks.test.tsx
  digeclip/src/lib/api/admin.ts
  digeclip/src/lib/api/auth.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/api/hooks.ts
  digeclip/src/lib/api/index.ts
  digeclip/src/lib/api/user.ts
  digeclip/src/lib/constants.ts
Labels: documentation, tests

feat: テスト環境の構築とテストカバレッジ目標の設定
  .cursor/rules/backend.mdc
  .cursor/rules/frontend.mdc
  digeclip/.babelrc
  digeclip/README.md
  digeclip/backend.mdc
  digeclip/frontend.mdc
  digeclip/jest.config.js
  digeclip/jest.setup.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/src/lib/api/README.md
  digeclip/src/lib/api/__tests__/auth.test.ts
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/__tests__/hooks.test.tsx
  digeclip/src/lib/api/admin.ts
  digeclip/src/lib/api/auth.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/api/hooks.ts
  digeclip/src/lib/api/index.ts
  digeclip/src/lib/api/user.ts
  digeclip/src/lib/constants.ts
Labels: documentation, tests

fix: Node.jsバージョンの統一とテスト環境の設定
  .github/workflows/lint.yml
  digeclip/.env.test
  digeclip/.nvmrc
  digeclip/jest.setup.js
  digeclip/package.json
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/constants.ts
  digeclip/update-node.sh
Labels: configuration

fix: Node.jsバージョンの統一とテスト環境の設定
  .github/workflows/lint.yml
  digeclip/.env.test
  digeclip/.nvmrc
  digeclip/jest.setup.js
  digeclip/package.json
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/constants.ts
  digeclip/update-node.sh
Labels: configuration

fix: ESLintエラーの修正とドキュメントの整理
  digeclip/backend.mdc
  digeclip/frontend.mdc
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/__tests__/hooks.test.tsx
  digeclip/src/lib/api/admin.ts
Labels: tests

fix: ESLintエラーの修正とドキュメントの整理
  digeclip/backend.mdc
  digeclip/frontend.mdc
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/__tests__/hooks.test.tsx
  digeclip/src/lib/api/admin.ts
Labels: tests

fix: 残りのESLintエラーを修正
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/client.ts
Labels: tests

fix: 残りのESLintエラーを修正
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/client.ts
Labels: tests

fix: 型チェックエラーを修正
  digeclip/src/lib/api/admin.ts
  digeclip/src/lib/api/auth.ts
Labels: none

fix: 型チェックエラーを修正
  digeclip/src/lib/api/admin.ts
  digeclip/src/lib/api/auth.ts
Labels: none

chore: update-node.shに実行権限を追加
  digeclip/update-node.sh
Labels: none

chore: update-node.shに実行権限を追加
  digeclip/update-node.sh
Labels: none

chore: バックエンド環境のセットアップ
  .cursor/available_instructions.txt
  .cursor/rules/000_common_coding_conventions.mdc
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .env.local
  Requirements_Format/2_Functional_Requirements/backend/2_Language_and_Framework.md
  build-mdc.ts
  digeclip/.nvmrc
  digeclip/docs/ENV_SETUP.md
  digeclip/jest.config.js
  digeclip/jest.setup.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/src/lib/__tests__/api/auth.test.ts
  digeclip/src/lib/__tests__/api/client.test.ts
  digeclip/src/lib/__tests__/api/hooks.test.tsx
  digeclip/src/lib/__tests__/discord.test.ts
  digeclip/src/lib/__tests__/openai.test.ts
  digeclip/src/lib/__tests__/supabase.test.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/openai.ts
  digeclip/src/lib/supabase.ts
  digeclip/src/types/env.d.ts
  digeclip/tsconfig.jest.json
  rules/0_common/1_common_requirements/1_technology_stack.md
  rules/0_common/1_common_requirements/2_requirements.md
  rules/0_common/2_coding_conventions/1_conventions.md
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/0_common/4_test_strategy/1_test_types/2_integration_tests.md
  rules/0_common/4_test_strategy/1_test_types/3_e2e_tests.md
  rules/0_common/4_test_strategy/2_test_tools/1_jest.md
  rules/0_common/4_test_strategy/2_test_tools/2_cypress_playwright.md
  rules/0_common/5_Testing_Strategy.md
  src/__tests__/e2e/README.md
  src/__tests__/integration/README.md
  src/__tests__/utils/test-utils.ts
Labels: frontend, documentation, tests

chore: バックエンド環境のセットアップ
  .cursor/available_instructions.txt
  .cursor/rules/000_common_coding_conventions.mdc
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .env.local
  Requirements_Format/2_Functional_Requirements/backend/2_Language_and_Framework.md
  build-mdc.ts
  digeclip/.nvmrc
  digeclip/docs/ENV_SETUP.md
  digeclip/jest.config.js
  digeclip/jest.setup.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/src/lib/__tests__/api/auth.test.ts
  digeclip/src/lib/__tests__/api/client.test.ts
  digeclip/src/lib/__tests__/api/hooks.test.tsx
  digeclip/src/lib/__tests__/discord.test.ts
  digeclip/src/lib/__tests__/openai.test.ts
  digeclip/src/lib/__tests__/supabase.test.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/openai.ts
  digeclip/src/lib/supabase.ts
  digeclip/src/types/env.d.ts
  digeclip/tsconfig.jest.json
  rules/0_common/1_common_requirements/1_technology_stack.md
  rules/0_common/1_common_requirements/2_requirements.md
  rules/0_common/2_coding_conventions/1_conventions.md
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/0_common/4_test_strategy/1_test_types/2_integration_tests.md
  rules/0_common/4_test_strategy/1_test_types/3_e2e_tests.md
  rules/0_common/4_test_strategy/2_test_tools/1_jest.md
  rules/0_common/4_test_strategy/2_test_tools/2_cypress_playwright.md
  rules/0_common/5_Testing_Strategy.md
  src/__tests__/e2e/README.md
  src/__tests__/integration/README.md
  src/__tests__/utils/test-utils.ts
Labels: frontend, documentation, tests

fix: ESLintエラーの修正
  digeclip/src/lib/__tests__/supabase.test.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/supabase.ts
Labels: tests

fix: ESLintエラーの修正
  digeclip/src/lib/__tests__/supabase.test.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/supabase.ts
Labels: tests

chore: Supabaseデータベースのセットアップと初期マイグレーション
  digeclip/.babelrc
  digeclip/.lintstagedrc.js
  digeclip/.prettierrc.json
  digeclip/README.md
  digeclip/components.json
  digeclip/docs/ENV_SETUP.md
  digeclip/eslint.config.mjs
  digeclip/jest.config.js
  digeclip/jest.setup.js
  digeclip/next.config.ts
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/prisma/migrations/20250317203353_init/migration.sql
  digeclip/prisma/migrations/migration_lock.toml
  digeclip/prisma/schema.prisma
  digeclip/src/app/globals.css
  digeclip/src/app/layout.tsx
  digeclip/src/app/page.tsx
  digeclip/src/components/ui/button.tsx
  digeclip/src/components/ui/card.tsx
  digeclip/src/components/ui/dialog.tsx
  digeclip/src/components/ui/form.tsx
  digeclip/src/components/ui/input.tsx
  digeclip/src/components/ui/label.tsx
  digeclip/src/components/ui/select.tsx
  digeclip/src/components/ui/sonner.tsx
  digeclip/src/components/ui/table.tsx
  digeclip/src/lib/__tests__/api/hooks.test.tsx
  digeclip/src/lib/api/README.md
  digeclip/src/lib/api/__tests__/hooks.test.tsx
  digeclip/src/lib/utils.ts
  digeclip/tsconfig.jest.json
Labels: documentation, tests

chore: Supabaseデータベースのセットアップと初期マイグレーション
  digeclip/.babelrc
  digeclip/.lintstagedrc.js
  digeclip/.prettierrc.json
  digeclip/README.md
  digeclip/components.json
  digeclip/docs/ENV_SETUP.md
  digeclip/eslint.config.mjs
  digeclip/jest.config.js
  digeclip/jest.setup.js
  digeclip/next.config.ts
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/prisma/migrations/20250317203353_init/migration.sql
  digeclip/prisma/migrations/migration_lock.toml
  digeclip/prisma/schema.prisma
  digeclip/src/app/globals.css
  digeclip/src/app/layout.tsx
  digeclip/src/app/page.tsx
  digeclip/src/components/ui/button.tsx
  digeclip/src/components/ui/card.tsx
  digeclip/src/components/ui/dialog.tsx
  digeclip/src/components/ui/form.tsx
  digeclip/src/components/ui/input.tsx
  digeclip/src/components/ui/label.tsx
  digeclip/src/components/ui/select.tsx
  digeclip/src/components/ui/sonner.tsx
  digeclip/src/components/ui/table.tsx
  digeclip/src/lib/__tests__/api/hooks.test.tsx
  digeclip/src/lib/api/README.md
  digeclip/src/lib/api/__tests__/hooks.test.tsx
  digeclip/src/lib/utils.ts
  digeclip/tsconfig.jest.json
Labels: documentation, tests

feat(cursor): ルール設定をAuto Attachモードに変更
  .cursor/available_instructions.txt
  .cursor/rules/000_common_coding_conventions.mdc
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_requirements.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .cursor/rules/001_business_requirements.mdc
  .cursor/rules/002_backend_requirements.mdc
  .cursor/rules/003_frontend_requirements.mdc
  .cursor/rules/004_nonFunctional_requirements.mdc
  .cursor/rules/005_development_process.mdc
  .cursor/rules/006_risk_and_release_plan.mdc
  build-mdc.ts.bak
  issues_sorted.json
  node_modules/.package-lock.json
  package-lock.json
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/0_common/4_test_strategy/1_test_types/2_integration_tests.md
  rules/0_common/4_test_strategy/1_test_types/3_e2e_tests.md
  rules/0_common/4_test_strategy/2_test_structure.md
  rules/0_common/4_test_strategy/2_test_tools/1_jest.md
  rules/0_common/4_test_strategy/2_test_tools/2_cypress_playwright.md
  rules/0_common/4_test_strategy/README.md
Labels: documentation, dependencies

feat(cursor): ルール設定をAuto Attachモードに変更
  .cursor/available_instructions.txt
  .cursor/rules/000_common_coding_conventions.mdc
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_requirements.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .cursor/rules/001_business_requirements.mdc
  .cursor/rules/002_backend_requirements.mdc
  .cursor/rules/003_frontend_requirements.mdc
  .cursor/rules/004_nonFunctional_requirements.mdc
  .cursor/rules/005_development_process.mdc
  .cursor/rules/006_risk_and_release_plan.mdc
  build-mdc.ts.bak
  issues_sorted.json
  node_modules/.package-lock.json
  package-lock.json
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/0_common/4_test_strategy/1_test_types/2_integration_tests.md
  rules/0_common/4_test_strategy/1_test_types/3_e2e_tests.md
  rules/0_common/4_test_strategy/2_test_structure.md
  rules/0_common/4_test_strategy/2_test_tools/1_jest.md
  rules/0_common/4_test_strategy/2_test_tools/2_cypress_playwright.md
  rules/0_common/4_test_strategy/README.md
Labels: documentation, dependencies

設定: tsconfig.jsonのパスマッピングを修正 - @/*の���������./src/*���������
  digeclip/tsconfig.json
Labels: none

設定: tsconfig.jsonのパスマッピングを修正 - @/*の���������./src/*���������
  digeclip/tsconfig.json
Labels: none

設定: Jest設定ファイルのパスを修正 - パス参照をsrc/に統一
  digeclip/jest.config.js
Labels: none

設定: Jest設定ファイルのパスを修正 - パス参照をsrc/に統一
  digeclip/jest.config.js
Labels: none

chore: ディ��������������������������� - ���������������src/���������
  README.md
  digeclip/README.md
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/index.ts
  rules/0_common/2_coding_conventions/1_conventions.md
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/0_common/4_test_strategy/1_test_types/2_integration_tests.md
  rules/0_common/4_test_strategy/1_test_types/3_e2e_tests.md
  rules/0_common/4_test_strategy/2_test_structure.md
  rules/0_common/4_test_strategy/2_test_tools/1_jest.md
  rules/0_common/4_test_strategy/2_test_tools/2_cypress_playwright.md
  rules/2_backend_functional_requirements/3_Backend_Testing.md
  src/__tests__/e2e/README.md
  src/__tests__/integration/README.md
  src/__tests__/utils/test-utils.ts
Labels: frontend, documentation

chore: ディ��������������������������� - ���������������src/���������
  README.md
  digeclip/README.md
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/index.ts
  rules/0_common/2_coding_conventions/1_conventions.md
  rules/0_common/3_directory_structure/1_structure.md
  rules/0_common/4_test_strategy/1_strategy.md
  rules/0_common/4_test_strategy/1_test_types/1_unit_tests.md
  rules/0_common/4_test_strategy/1_test_types/2_integration_tests.md
  rules/0_common/4_test_strategy/1_test_types/3_e2e_tests.md
  rules/0_common/4_test_strategy/2_test_structure.md
  rules/0_common/4_test_strategy/2_test_tools/1_jest.md
  rules/0_common/4_test_strategy/2_test_tools/2_cypress_playwright.md
  rules/2_backend_functional_requirements/3_Backend_Testing.md
  src/__tests__/e2e/README.md
  src/__tests__/integration/README.md
  src/__tests__/utils/test-utils.ts
Labels: frontend, documentation

feat: DB������������������������������������������������������
  digeclip/src/lib/db/prisma.ts
Labels: none

feat: DB������������������������������������������������������
  digeclip/src/lib/db/prisma.ts
Labels: none

feat: Prismaクライアントの初期化実装 (src/lib/db)
  digeclip/src/lib/db/prisma.ts
Labels: none

feat: Prismaクライアントの初期化実装 (src/lib/db)
  digeclip/src/lib/db/prisma.ts
Labels: none

fix: ESLintエラーの修正 - varをletに変更、未使用の���������������������������
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/prisma.ts
Labels: none

fix: ESLintエラーの修正 - varをletに変更、未使用の���������������������������
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/prisma.ts
Labels: none

fix: ESLintエラーの修正 - src/lib/db/prisma.ts ������������������Prisma������������������������
  digeclip/src/lib/db/prisma.ts
Labels: none

fix: ESLintエラーの修正 - src/lib/db/prisma.ts ������������������Prisma������������������������
  digeclip/src/lib/db/prisma.ts
Labels: none

feat: CIテスト自動化と開発ワークフローの改善 - ローカルCI������������������������������������������������������������
  digeclip/.husky/pre-push
  digeclip/README.md
  digeclip/package.json
  digeclip/scripts/local-ci.sh
Labels: documentation

feat: CIテスト自動化と開発ワークフローの改善 - ローカルCI������������������������������������������������������������
  digeclip/.husky/pre-push
  digeclip/README.md
  digeclip/package.json
  digeclip/scripts/local-ci.sh
Labels: documentation
