Repository daishiman/DigeClip, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, feature, documentation, dependencies, configuration, tests, performance, accessibility

.github/labeler.yml:

frontend:
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'pages/**/*'
  - 'components/**/*'
  - 'app/**/*.tsx'
  - 'app/**/*.jsx'

backend:
  - 'src/lib/services/**/*'
  - 'src/lib/db/**/*'
  - 'src/lib/api/**/*'
  - 'src/lib/middleware/**/*'
  - 'app/api/**/*'

ui:
  - 'src/components/ui/**/*'
  - 'app/**/*.css'
  - 'app/**/*.scss'
  - 'styles/**/*'

feature:
  - 'src/components/features/**/*'
  - 'app/**/page.tsx'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'next.config.js'

configuration:
  - '.github/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'
  - '.eslintrc*'
  - '.prettierrc*'

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'cypress/**/*'
  - 'jest.config.js'

performance:
  - 'src/hooks/use*'
  - 'src/lib/utils/performance/**/*'

accessibility:
  - 'src/components/ui/**/*.tsx'
  - 'src/components/ui/**/*.jsx'

refactor: 重複したhuskyファイルを削除���������������������������������������������������������������
  .husky/_/husky.sh
  .husky/pre-commit
  .husky/pre-push
  README.md
  build-mdc.ts.bak
  digeclip/.husky/pre-commit
  digeclip/package.json
  digeclip/scripts/local-ci.sh
  node_modules/.bin/husky
  node_modules/.package-lock.json
  node_modules/husky/LICENSE
  node_modules/husky/README.md
  node_modules/husky/bin.js
  node_modules/husky/husky
  node_modules/husky/index.d.ts
  node_modules/husky/index.js
  node_modules/husky/package.json
  package-lock.json
  package.json
  scripts/local-ci.sh
Labels: documentation, dependencies

refactor: 重複したhuskyファイルを削除���������������������������������������������������������������
  .husky/_/husky.sh
  .husky/pre-commit
  .husky/pre-push
  README.md
  build-mdc.ts.bak
  digeclip/.husky/pre-commit
  digeclip/package.json
  digeclip/scripts/local-ci.sh
  node_modules/.bin/husky
  node_modules/.package-lock.json
  node_modules/husky/LICENSE
  node_modules/husky/README.md
  node_modules/husky/bin.js
  node_modules/husky/husky
  node_modules/husky/index.d.ts
  node_modules/husky/index.js
  node_modules/husky/package.json
  package-lock.json
  package.json
  scripts/local-ci.sh
Labels: documentation, dependencies

refactor: CIテスト自動化環境の整備 - ���������������������������������������������������������
  digeclip/package.json
Labels: none

refactor: CIテスト自動化環境の整備 - ���������������������������������������������������������
  digeclip/package.json
Labels: none

fix: プッシュ前に自動でテストを実行するように改善
  .husky/pre-push
Labels: none

fix: プッシュ前に自動でテストを実行するように改善
  .husky/pre-push
Labels: none

fix: local-ciスクリプトの実行権限を確保
  scripts/local-ci.sh
Labels: none

fix: local-ciスクリプトの実行権限を確保
  scripts/local-ci.sh
Labels: none

fix: jest���������������������ESLint���������������������
  .husky/_/husky.sh
  digeclip/jest.config.js
Labels: none

fix: jest���������������������ESLint���������������������
  .husky/_/husky.sh
  digeclip/jest.config.js
Labels: none

fix: コミットフックを一時的に無効化してJest���������������
  .eslintrc.json
  .husky/pre-commit
  digeclip/.lintstagedrc.js
  digeclip/jest.config.js
Labels: configuration

fix: コミットフックを一時的に無効化してJest���������������
  .eslintrc.json
  .husky/pre-commit
  digeclip/.lintstagedrc.js
  digeclip/jest.config.js
Labels: configuration

fix: ���������������������������������������������������
  .husky/pre-commit
  .husky/pre-push
  digeclip/jest.setup.js
  digeclip/src/__tests__/integration/test.test.ts
  digeclip/src/__tests__/unit/test.test.ts
  digeclip/src/lib/db/__mocks__/db.ts
  digeclip/src/lib/db/__mocks__/prisma.ts
Labels: tests

fix: ���������������������������������������������������
  .husky/pre-commit
  .husky/pre-push
  digeclip/jest.setup.js
  digeclip/src/__tests__/integration/test.test.ts
  digeclip/src/__tests__/unit/test.test.ts
  digeclip/src/lib/db/__mocks__/db.ts
  digeclip/src/lib/db/__mocks__/prisma.ts
Labels: tests

データアクセス層とPrismaクライアント初期化の実装、テストディレク���������������������
  digeclip/src/__tests__/integration/test.test.ts
  digeclip/src/__tests__/mocks/handlers/auth.ts
  digeclip/src/__tests__/unit/lib/api/auth.test.ts
  digeclip/src/__tests__/unit/lib/api/client.test.ts
  digeclip/src/__tests__/unit/lib/api/hooks.test.tsx
  digeclip/src/__tests__/unit/lib/discord.test.ts
  digeclip/src/__tests__/unit/lib/openai.test.ts
  digeclip/src/__tests__/unit/lib/supabase.test.ts
  digeclip/src/__tests__/unit/test.test.ts
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/repositories/base.repository.ts
  digeclip/src/lib/db/repositories/index.ts
  digeclip/src/lib/db/repositories/user.repository.ts
Labels: tests

データアクセス層とPrismaクライアント初期化の実装、テストディレク���������������������
  digeclip/src/__tests__/integration/test.test.ts
  digeclip/src/__tests__/mocks/handlers/auth.ts
  digeclip/src/__tests__/unit/lib/api/auth.test.ts
  digeclip/src/__tests__/unit/lib/api/client.test.ts
  digeclip/src/__tests__/unit/lib/api/hooks.test.tsx
  digeclip/src/__tests__/unit/lib/discord.test.ts
  digeclip/src/__tests__/unit/lib/openai.test.ts
  digeclip/src/__tests__/unit/lib/supabase.test.ts
  digeclip/src/__tests__/unit/test.test.ts
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/repositories/base.repository.ts
  digeclip/src/lib/db/repositories/index.ts
  digeclip/src/lib/db/repositories/user.repository.ts
Labels: tests

型定義エラーの修正: User型の直接定義とPrismaクライアントの���������������
  digeclip/src/lib/db/__mocks__/prisma.ts
  digeclip/src/lib/db/repositories/user.repository.ts
  digeclip/src/types/prisma.d.ts
Labels: none

型定義エラーの修正: User型の直接定義とPrismaクライアントの���������������
  digeclip/src/lib/db/__mocks__/prisma.ts
  digeclip/src/lib/db/repositories/user.repository.ts
  digeclip/src/types/prisma.d.ts
Labels: none

chore: データアクセスレイヤーの実装と不要なテ���������������������������
  digeclip/digeclip/src/lib/db/repositories/user.repository.ts
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/src/lib/__tests__/api/auth.test.ts
  digeclip/src/lib/__tests__/api/client.test.ts
  digeclip/src/lib/__tests__/api/hooks.test.tsx
  digeclip/src/lib/__tests__/discord.test.ts
  digeclip/src/lib/__tests__/openai.test.ts
  digeclip/src/lib/__tests__/supabase.test.ts
  digeclip/src/lib/api/__tests__/auth.test.ts
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/__tests__/hooks.test.tsx
Labels: tests

chore: データアクセスレイヤーの実装と不要なテ���������������������������
  digeclip/digeclip/src/lib/db/repositories/user.repository.ts
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/src/lib/__tests__/api/auth.test.ts
  digeclip/src/lib/__tests__/api/client.test.ts
  digeclip/src/lib/__tests__/api/hooks.test.tsx
  digeclip/src/lib/__tests__/discord.test.ts
  digeclip/src/lib/__tests__/openai.test.ts
  digeclip/src/lib/__tests__/supabase.test.ts
  digeclip/src/lib/api/__tests__/auth.test.ts
  digeclip/src/lib/api/__tests__/client.test.ts
  digeclip/src/lib/api/__tests__/hooks.test.tsx
Labels: tests

fix: update husky pre-push hook to use correct script name
  .husky/pre-push
Labels: none

fix: update husky pre-push hook to use correct script name
  .husky/pre-push
Labels: none

fix: ���������������������������������������������������������������������������������������
  digeclip/src/__tests__/mocks/handlers/auth.ts
  digeclip/src/lib/db/__mocks__/db.ts
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/prisma.ts
Labels: none

fix: ���������������������������������������������������������������������������������������
  digeclip/src/__tests__/mocks/handlers/auth.ts
  digeclip/src/lib/db/__mocks__/db.ts
  digeclip/src/lib/db/db.ts
  digeclip/src/lib/db/prisma.ts
Labels: none

fix: PrismaClient���������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: PrismaClient���������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: PrismaClientMock���user���������������������������������������������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: PrismaClientMock���user���������������������������������������������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: PrismaClientMock���user���������������������������������������������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: PrismaClientMock���user���������������������������������������������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: ESLint������������������������������������
  digeclip/src/lib/db/db.ts
Labels: none

fix: ESLint������������������������������������
  digeclip/src/lib/db/db.ts
Labels: none

chore: 不要なAPIフックテストファイルを削除
  digeclip/src/__tests__/unit/lib/api/hooks.test.tsx
Labels: tests

chore: 不要なAPIフックテストファイルを削除
  digeclip/src/__tests__/unit/lib/api/hooks.test.tsx
Labels: tests

CI/CD: ワークフローファイルの更新とセットアップドキュメントの追���
  .github/SETUP.md
  .github/workflows/create-release-pr.yml
  .github/workflows/preview-deploy.yml
Labels: documentation, configuration

CI/CD: ワークフローファイルの更新とセットアップドキュメントの追���
  .github/SETUP.md
  .github/workflows/create-release-pr.yml
  .github/workflows/preview-deploy.yml
Labels: documentation, configuration

docs,rules,scripts: Update documentation, rules and add scripts
  README.md
  commit_script.sh
  digeclip/README.md
  issues_sorted.json
  rules/0_common/1_common_requirements/1_technology_stack.md
  rules/4_nonFunctional_requirements/1_Infrastructure.md
  rules/5_development_process/4_Automation.md
  scripts/start-ngrok.sh
Labels: documentation

docs,rules,scripts: Update documentation, rules and add scripts
  README.md
  commit_script.sh
  digeclip/README.md
  issues_sorted.json
  rules/0_common/1_common_requirements/1_technology_stack.md
  rules/4_nonFunctional_requirements/1_Infrastructure.md
  rules/5_development_process/4_Automation.md
  scripts/start-ngrok.sh
Labels: documentation

build:mdcスクリプトをpackage.jsonに追加
  package.json
Labels: dependencies

build:mdcスクリプトをpackage.jsonに追加
  package.json
Labels: dependencies
