Repository daishiman/DigeClip, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ui, feature, documentation, dependencies, configuration, tests, performance, accessibility

.github/labeler.yml:

frontend:
  - 'src/**/*.ts'
  - 'src/**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.jsx'
  - 'src/**/*.css'
  - 'src/**/*.scss'
  - 'pages/**/*'
  - 'components/**/*'
  - 'app/**/*.tsx'
  - 'app/**/*.jsx'

backend:
  - 'src/lib/services/**/*'
  - 'src/lib/db/**/*'
  - 'src/lib/api/**/*'
  - 'src/lib/middleware/**/*'
  - 'app/api/**/*'

ui:
  - 'src/components/ui/**/*'
  - 'app/**/*.css'
  - 'app/**/*.scss'
  - 'styles/**/*'

feature:
  - 'src/components/features/**/*'
  - 'app/**/page.tsx'

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'next.config.js'

configuration:
  - '.github/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'
  - '.eslintrc*'
  - '.prettierrc*'

tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - 'cypress/**/*'
  - 'jest.config.js'

performance:
  - 'src/hooks/use*'
  - 'src/lib/utils/performance/**/*'

accessibility:
  - 'src/components/ui/**/*.tsx'
  - 'src/components/ui/**/*.jsx'

build:mdcスクリプトをpackage.jsonに追加
  .cursor/rules/000_common_coding_conventions.mdc
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_requirements.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .cursor/rules/002_backend_requirements.mdc
  .cursor/rules/004_nonFunctional_requirements.mdc
  .cursor/rules/005_development_process.mdc
  commit_script.sh
Labels: none

build:mdcスクリプトをpackage.jsonに追加
  .cursor/rules/000_common_coding_conventions.mdc
  .cursor/rules/000_common_directory_structure.mdc
  .cursor/rules/000_common_requirements.mdc
  .cursor/rules/000_common_tech_stack.mdc
  .cursor/rules/000_common_test_strategy.mdc
  .cursor/rules/002_backend_requirements.mdc
  .cursor/rules/004_nonFunctional_requirements.mdc
  .cursor/rules/005_development_process.mdc
  commit_script.sh
Labels: none

Remove .babelrc to use SWC compiler for next/font
  digeclip/.babelrc
Labels: none

Remove .babelrc to use SWC compiler for next/font
  digeclip/.babelrc
Labels: none

feat: ������������Hello World���������������
  digeclip/next.config.ts
  digeclip/src/app/globals.css
  digeclip/src/app/layout.tsx
  digeclip/src/app/page.tsx
Labels: none

feat: ������������Hello World���������������
  digeclip/next.config.ts
  digeclip/src/app/globals.css
  digeclip/src/app/layout.tsx
  digeclip/src/app/page.tsx
Labels: none

test: ������������������������������������������������������
  digeclip/.husky/pre-push
  digeclip/jest.config.js
Labels: none

test: ������������������������������������������������������
  digeclip/.husky/pre-push
  digeclip/jest.config.js
Labels: none

test: ESLint���������������������������������������������������������������������������
  digeclip/.husky/pre-push
  digeclip/jest.config.js
  digeclip/src/__tests__/unit/lib/api/auth.test.ts
  digeclip/src/__tests__/unit/lib/discord.test.ts
  digeclip/src/lib/api/auth.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/openai.ts
  digeclip/src/lib/supabase.ts
  digeclip/src/setupTests.ts
Labels: tests

test: ESLint���������������������������������������������������������������������������
  digeclip/.husky/pre-push
  digeclip/jest.config.js
  digeclip/src/__tests__/unit/lib/api/auth.test.ts
  digeclip/src/__tests__/unit/lib/discord.test.ts
  digeclip/src/lib/api/auth.ts
  digeclip/src/lib/api/client.ts
  digeclip/src/lib/discord.ts
  digeclip/src/lib/openai.ts
  digeclip/src/lib/supabase.ts
  digeclip/src/setupTests.ts
Labels: tests

fix: setupTests.tsのNODE_ENV設定をObject.defineProperty���������
  digeclip/src/setupTests.ts
Labels: none

fix: setupTests.tsのNODE_ENV設定をObject.defineProperty���������
  digeclip/src/setupTests.ts
Labels: none

test: ������������������������������������������
  digeclip/src/lib/api/auth.ts
  digeclip/src/lib/discord.ts
Labels: none

test: ������������������������������������������
  digeclip/src/lib/api/auth.ts
  digeclip/src/lib/discord.ts
Labels: none

fix: ���������������������������������������axios���������������������
  digeclip/src/__tests__/unit/lib/api/auth.test.ts
  digeclip/src/__tests__/unit/lib/discord.test.ts
  digeclip/src/lib/discord.ts
Labels: tests

fix: ���������������������������������������axios���������������������
  digeclip/src/__tests__/unit/lib/api/auth.test.ts
  digeclip/src/__tests__/unit/lib/discord.test.ts
  digeclip/src/lib/discord.ts
Labels: tests

fix: Cloudflareへのデプロイ設定を修正
  .github/workflows/preview-deploy.yml
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/tailwind.config.mjs
Labels: configuration

fix: Cloudflareへのデプロイ設定を修正
  .github/workflows/preview-deploy.yml
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/tailwind.config.mjs
Labels: configuration

fix: Tailwind CSS 4対応とビルドプロセスの修正
  .github/workflows/preview-deploy.yml
  digeclip/next.config.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/tailwind.config.mjs
Labels: configuration

fix: Tailwind CSS 4対応とビルドプロセスの修正
  .github/workflows/preview-deploy.yml
  digeclip/next.config.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/postcss.config.mjs
  digeclip/tailwind.config.mjs
Labels: configuration

fix: Tailwind CSS 4対応とCloudflareデプロイ設定の修正
  .github/workflows/preview-deploy.yml
  digeclip/next.config.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/tailwind.config.mjs
Labels: configuration

fix: Tailwind CSS 4対応とCloudflareデプロイ設定の修正
  .github/workflows/preview-deploy.yml
  digeclip/next.config.js
  digeclip/package-lock.json
  digeclip/package.json
  digeclip/tailwind.config.mjs
Labels: configuration

fix: Next.jsの構文エラーとCloudflareデプロイ設定の修正
  digeclip/next.config.js
Labels: none

fix: Next.jsの構文エラーとCloudflareデプロイ設定の修正
  digeclip/next.config.js
Labels: none

fix: テスト環境検出ロジックの修正とESLintのインストール
  digeclip/package-lock.json
  digeclip/package.json
Labels: none

fix: テスト環境検出ロジックの修正とESLintのインストール
  digeclip/package-lock.json
  digeclip/package.json
Labels: none

fix: テスト環境検出ロジックの修正とESLint設定の追加
  digeclip/.eslintrc.json
  digeclip/src/lib/constants.ts
  digeclip/src/lib/discord.ts
Labels: none

fix: テスト環境検出ロジックの修正とESLint設定の追加
  digeclip/.eslintrc.json
  digeclip/src/lib/constants.ts
  digeclip/src/lib/discord.ts
Labels: none

fix: テスト設定ファイルをビルドから除外しESLint設定を修正
  digeclip/.eslintrc.js
  digeclip/src/setupTests.test.ts
  digeclip/tsconfig.json
Labels: tests

fix: テスト設定ファイルをビルドから除外しESLint設定を修正
  digeclip/.eslintrc.js
  digeclip/src/setupTests.test.ts
  digeclip/tsconfig.json
Labels: tests

fix: Jestのセットアップファイルパスを修正
  digeclip/jest.config.js
Labels: none

fix: Jestのセットアップファイルパスを修正
  digeclip/jest.config.js
Labels: none

Supabase設定の改善と環境変数対応
  .cursor/rules/002_backend_requirements.mdc
  .env.example
  README.md
  digeclip/README.md
  digeclip/digeclip/src/lib/db/repositories/user.repository.ts
  digeclip/src/__tests__/unit/lib/supabase.test.ts
  digeclip/src/lib/supabase.ts
  digeclip/src/setupTests.test.ts
  digeclip/tsconfig.json
  rules/2_backend_functional_requirements/1_data/1_Database_Selection.md
  rules/2_backend_functional_requirements/1_data/3_Data_Lifecycle.md
Labels: documentation, tests

fix: supabase.test.tsのjest.requireActualエラーを修正
  digeclip/jest.setup.js
  digeclip/src/__tests__/unit/lib/supabase.test.ts
Labels: tests

データベース環境切り替え機能の追加とシードデータの実装
  README.md
  digeclip/package.json
  prisma/seeds/dev_seed.sql
  prisma/seeds/prod_seed.sql
  rules/0_common/0_common_tech_stack.md
Labels: documentation

docs: issuesリストを更新
  issues_sorted.json
Labels: none

データベース環境管理機能の強化とドキュメント更新
  digeclip/prisma/schema.prisma
  digeclip/prisma/seeds/README.md
  digeclip/prisma/seeds/dev_seed.sql
  package.json
  rules/0_common/1_common_requirements/1_technology_stack.md
Labels: documentation, dependencies

docs: Supabaseデータベース環境分離の要件を追加
  .cursor/rules/004_nonFunctional_requirements.mdc
  README.md
  digeclip/README.md
  rules/4_nonFunctional_requirements/1_Infrastructure.md
Labels: documentation

fix: Next.jsのエラーページ実装を修正
  digeclip/src/__tests__/unit/app/error.test.tsx
  digeclip/src/__tests__/unit/app/global-error.test.tsx
  digeclip/src/__tests__/unit/app/not-found.test.tsx
Labels: tests

fix: Next.jsのApp Router/Pages Routerハイブリッド構成の修正
  digeclip/pages/_document.tsx
  digeclip/src/__tests__/unit/app/not-found.test.tsx
  digeclip/tailwind.config.mjs
Labels: tests
